<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="ibox float-e-margins shadow">
                <div class="ibox-title">
                    <h5>Settings</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <form novalidate name="adminForm" ng-submit="changePwd(adminForm.$valid)">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row form-group">
                                            <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3">
                                                <span class="tag">New Password:</span>
                                            </div>
                                            <div class="col-sm-9 col-lg-9 col-md-9 col-xs-9">
                                                <input type="password" name="name" ng-model="admin.new"
                                                       placeholder="Enter New Password" required>
                                                <div class="white-error-email"
                                                     ng-show="adminForm.$submitted || adminForm.name.$dirty && adminForm.name.$invalid">
                                                    <small ng-show="adminForm.name.$error.required">
                                                        New Password is required.
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row form-group">
                                            <div class="col-sm-3 col-lg-3 col-md-3 col-xs-4">
                                                <span class="tag">Confirm Password:</span>
                                            </div>
                                            <div class="col-sm-9 col-lg-9 col-md-9 col-xs-9">
                                                <input type="password" name="confirm" ng-model="admin.confirm"
                                                       placeholder="Enter Confirm Password" required>
												
												<div class="white-error-email" ng-if="!adminForm.$submitted && !adminForm.confirm.$error.required && admin.new != admin.confirm">
													<small class="error text-danger">Confirm password should be same.</small> 
												</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-2">
                                <button class="theme-btn" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>