<div class="wrapper wrapper-content animated">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="ibox float-e-margins shadow">
                <div class="ibox-title">
                    <h5>List Feeds</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <table id="feedsTable" class="table table-striped table-bordered dataTables-example">
                        <thead>
                            <tr>
                                <th>Game Name</th>
                                <th>Challenge Name</th>
                                <th>Challenge Points</th>
                                <th>Completed By</th>
                                <th>Registration Date</th>
                                <th>Video/Image</th>
                                <th>Featured</th>
                                <th>Remove Feed</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in feedList">
                                <td>{{ data.gameId.name || "N.A." }}</td>
                                <td>{{ data.challengeId.name || "N.A." | htmlToPlaintext}}</td>
                                <td>{{ data.challengeId.points || "N.A." }}</td>
                                <td>{{ data.completedBy.name || "N.A." }}</td>
                                <td>{{ data.createdAt | date }}</td>
                                <td ng-if="data.image.thumbnail !=''">
                                    <a ng-click="openLightboxModal($index)">
                                        <img ng-src="{{
                        data.image.original || 'img/no-image-available.jpg'
                      }}" class="img-responsive" style="width: 80px;height: 80px;" />
                                    </a>
                                </td>
                                <td ng-if="data.video !=''">
                                    <button class="theme-btn" type="button" ng-click="showFeed(data.video)" id="videoBtn">
                    View
                  </button>
                                    <!-- <button class="btn theme-btn js-video-btn" type="button" ng-click="showFeedVideo(data.video)" data-video-id="7TUOI23spt0">
                    View
                  </button> -->
                                </td>
                                <td>
                                    <div class="material-switch m-t-10 m-l-7">
                                        <input id="{{ $index + 'feat' }}" type="checkbox" ng-model="data.is_featured" ng-change="setFeatured(data._id,data.is_featured,$index)" />
                                        <label for="{{ $index + 'feat' }}"></label>
                                    </div>
                                </td>
                                <td>
                                    <button class="theme-btn-danger" type="button" ng-click="removePlayer(data._id,'delete')">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                <iframe width="100%" height="350" src="" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="feeds-template.html">
    <div class="modal-header">
        <h3 class="modal-title">Video Feed</h3>
    </div>
    <div class="modal-body">
        <iframe ng-src="{{videofile}}" style="width: 100%; height: 350px; margin:0 auto;" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="modal-footer">
        <button class="btn theme-btn pull-right" type="button" ng-click="cancel()" style="width: 90px;">Cancel</button>
    </div>
</script>