<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">
    <div style="margin-top:50px" class="col-lg-offset-3 col-lg-5">
        <h1 class="text-center">Forgot Password</h1>
        <form class="loginForm" name="passwordForm" novalidate ng-submit="forgot(passwordForm.$valid)">
        <div class="row">
            <div class="form-group">
                <label>New Password:</label>
                <input type="password"  name="oldPassword" class="form-control" ng-model="user.newPassword" placeholder="Enter New Password"
                       ng-space required>
                <div class="text-danger"
                     ng-show="passwordForm.$submitted || passwordForm.oldPassword.$dirty && passwordForm.oldPassword.$invalid">
                    <small ng-show="passwordForm.oldPassword.$error.required">
                        *New Password is required.
                    </small>
                </div>
            </div>

            <div class="form-group">
                <label>Confirm passord</label>
                <input type="password" name="newPassword" class="form-control" ng-model="user.confirmPassword"
                       placeholder="Confirm New Password"
                       ng-space required>
                <div class="text-danger"
                     ng-show="passwordForm.$submitted || passwordForm.newPassword.$dirty && passwordForm.newPassword.$invalid">
                    <small ng-show="passwordForm.newPassword.$error.required">
                        *Confirm Password is required.
                    </small>
                </div>
                <div class="text-danger" ng-show="(passwordForm.$valid) && (user.newPassword != user.confirmPassword)">
                    <small>
                        *Passwords should match.
                    </small>
                </div>
            </div>
        </div>

        <!--<button class="btn btn-primary">Cancel</button>-->
        <button class="btn btn-danger" type="submit">Submit</button>
        </form>
    </div>

</div>
</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope,$http) {

        $scope.forgot  = function(valid){
            var urlParams = window.location;
            var res = urlParams.toString().split("=");
            console.log('parameter',res[1]);

            if(valid) {
                var obj = {
                    passwordResetToken: res[1],
                    password: $scope.user.newPassword
                }

                $http({
                    method: "POST",
                    // url: 'http://18.217.79.229:8002/api/admin/resetPassword',
                    url: 'http://localhost:8002/api/admin/resetPassword',
                    data: obj
                }).then(function (response) {
                    $scope.myWelcome = response.data;
                    console.log('response', response.data);
                    alert('Password Changed Successfully');
                    window.location.reload();
                })
            }
        }

    });
</script>

</body>
</html>




<!--HIt api in JQuery-->


<!--$.ajax({-->
<!--url: 'http://52.35.152.26:8081/ccavRequestHandler.php',-->
<!--type: 'post',-->
<!--dataType: 'application/json',-->
<!--data: $("#myform").serialize(),-->
<!--success: function(data) {-->
<!--}-->
<!--});-->


